MYSQL_SERVER=localhost
MYSQL_PORT=3306
MYSQL_DB=asistencias_db
MYSQL_USER=asistencias_user
MYSQL_PASSWORD=asistencias_pass
MYSQL_ROOT_PASSWORD=root_pass
SECRET_KEY=cambiar_por_clave_secreta_jwt
ADMIN_EMAIL=admin@sistema.local
ADMIN_PASSWORD=Admin123456!
