@import "tailwindcss";

@theme {
  --color-primary: #3484A5;
  --color-secondary: #2CA792;
  --color-accent: #F0C84F;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #ffffff;
  color: #1F2937;
}
